<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav"  >
    <li class="nav-item dropdown"  *ngFor="let menu of menus" routerLinkActive="active" >
      <a class="nav-link dropdown-toggle"  href="{{menu.slug}}" id="navbardrop" data-toggle="dropdown">
        {{menu.name}}
      </a>
      <ul class="dropdown-menu" *ngIf="menu.children.length>0">
        <li *ngFor="let child of menu.children">
          <a routerLink="/{{menu.slug}}/{{child.slug}}/toy-story">Single</a>
          <a class="dropdown-item" routerLink="{{menu.slug}}/{{child.slug}}">{{child.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>





