<h1>{{cakes.page_title}}</h1>
<ul style="list-style: none" *ngFor="let cake of cakes.cakes">
  <li>
    <h3>{{cake.name}}</h3>
    <h5>Tezina : {{cake.value}} kg</h5>
    <h5>Cena : {{cake.price * cake.value}} rsd</h5>
    <hr>
  </li>
</ul>
