<h1>{{singlecake.cake}}</h1>
<div class="row">
    <div class="col-md-6">
        <h3>Sastojci:</h3>
        <ul style="list-style: none" *ngFor="let ing of singlecake.ing">
            <li>
                <p>{{ing.iname}} : {{ing.quantity}} {{ing.uname}}</p>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <p>Tezina:</p>
            <input type="text" value="{{single[0].value}}" (keyup)="onKey(weight.value)" #weight>
            <p>Ukus:</p>
            <select #taste>
                <option value=""></option>
                <option *ngFor="let taste of tastes"
                        [value]="taste.id">
                    {{taste.name}}
                </option>
            </select>
            <button (click)="getTaste(taste.value)">Dodaj ukus</button>
        </div>
        <div class="col-md-3">
            <h1>Narucivanje</h1>
            <h2>Ukusi</h2>
            <ul *ngFor="let taste of ukus ; index as i">
                <li >
                    <p style="border: cornflowerblue solid;border-radius: 10%" (click)="removeTaste(i)">{{i+1}}. sloj - {{taste.name}}</p>
                </li>
            </ul>
            <h2>Total:</h2>
            <p>{{weight.value}} x {{single[0].price}} = {{weight.value * single[0].price}}</p>
        </div>
    </div>
</div>




